*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.title {
	display: grid;
	justify-content: center;
	padding: 1rem;
}

.reviews {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.reviews .review {
	display: grid;
	grid-template-row: 1fr 2fr 1fr;
}

.review h1 {
	font-size: 1.5rem;
}

.review p:last-of-type {
	text-align: right;
}

.schedule-list {
	display: grid;
	grid-template: repeat(2, 1fr) / 1fr 2fr;
}

.schedule-list h1 {
	grid-area: 1 / 1 / -1 / 1;
}

.schedule-list .schedule {
	display: grid;
	grid-template-columns: 120px 1fr;
}

.address {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.address p {
	align-self: center;
}