*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
}

#home-content {
	height: 800px;
	display: grid;
	grid-template-rows: 120px 1fr 150px 80px;
}

.title {
	display: grid;
	justify-content: center;
	padding: 1rem;
}

.reviews {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 8px;
	margin-inline-end: 20px;
	margin-inline-start: 20px;
}

.reviews .review {
	display: grid;
	grid-template-row: 1fr 2fr 1fr;
	padding-inline-start: 20px;
	padding-inline-end: 20px;
}

.review h1 {
	font-size: 1.8rem;
	display: grid;
	align-content: center;
}

.review p {
	font-size: 1.5rem;
}

.review p:last-of-type {
	justify-self: end;
	display: grid;
	align-items: center;
	position: relative;
	right: 15px;
}

.schedule-list {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	margin-inline-end: 20px;
	margin-inline-start: 20px;
}

.schedule-list h1 {
	grid-area: 1 / 1 / -1 / 1;
	display: grid;
	justify-content: center;
	align-content: center;
	font-size: 2rem;
}

.schedule-list .schedule {
	display: grid;
	grid-template-columns: 180px 1fr;
	align-content: center;
	font-size: 1.5rem;
	padding: 20px;
}

.address {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-inline-end: 20px;
	margin-inline-start: 20px;
}

.address h1 {
	display: grid;
	align-content: center;
	justify-content: center;
}

.address p {
	display: grid;
	align-content: center;
	padding: 20px;
}