@font-face {
    font-family: 'good_timingbold';
    src: url('../fonts/good_timing_bd-webfont.woff2') format('woff2'),
         url('../fonts/good_timing_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'good_timingbold';
}

body {
	background: #fa003f;
	color: #f1f2f3;
}

p {
	color: #333;
}


header {
	display: grid;
	justify-content: center;
	align-content: center;
}

header nav {
	display: grid;
	padding: 1rem;
	grid-template-columns: repeat(3, 1fr);
	width: 800px;
}

nav button {
	height: 50px;
	font-size: 1.5rem;
	border: 1px #af9164 solid;
}

button:hover,
.selected {
	background: #fa003f;
	border: 1px #f1f2f3 solid;
	color: #f1f2f3;
}


#home-content {
	height: 800px;
	display: grid;
	grid-template-rows: 120px 1fr 150px 80px;
	row-gap: 2rem;
	padding: 2rem;
}

.title {
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 1rem;
}

.reviews {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 8px;
	margin-inline-end: 20px;
	margin-inline-start: 20px;
}

.reviews .review {
	display: grid;
	grid-template-row: 1fr 2fr 1fr;
	padding-inline-start: 20px;
	padding-inline-end: 20px;
	background: #f1f2f3;
	border: 5px #af9164 solid;
}

.review h1 {
	font-size: 1.8rem;
	display: grid;
	align-content: center;
	color: #333;
}

.review p {
	font-size: 1.5rem;
}

.review p:last-of-type {
	justify-self: end;
	display: grid;
	align-items: center;
	position: relative;
	right: 15px;
}

.schedule-list {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	margin-inline-end: 20px;
	margin-inline-start: 20px;
}

.schedule-list h1 {
	grid-area: 1 / 1 / -1 / 1;
	display: grid;
	justify-content: center;
	align-content: center;
	font-size: 2rem;
}

.schedule-list .schedule {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: center;
	font-size: 1.5rem;
	padding: 20px;
	background: #f1f2f3;
	border: 5px #af9164 solid;
}

.schedule {
	color: #333;
}

.address {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-inline-end: 20px;
	margin-inline-start: 20px;
}

.address h1 {
	display: grid;
	align-content: center;
	justify-content: center;
}

.address p {
	display: grid;
	align-content: center;
	padding: 20px;
	background: #f1f2f3;
	border: 5px #af9164 solid;
}

/* Menu style */

#menu-content {
	height: 800px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px;
	column-gap: 10px;
}

#menu-content .food-section {
	padding: 20px;
	display: grid;
	grid-template-rows: 50px repeat(2, 1fr);
	row-gap: 1rem;
}

.food-section h1 {
	display: grid;
	align-content: center;
	justify-content: center;
}

.food-section .food-item {
	display: grid;
	justify-content: center;
}

.food-item img {
	height: 250px;
	width: 250px;
	border-radius: 5px;
}

/* About */

#about-content {
	height: 800px;
	display: grid;
}

#about-content .about {
	display: grid;
	align-content: center;
	justify-content: center;
	font-size: 1.5rem;
	background: #f1f2f3;
	border: 5px #af9164 solid;
	margin: 1rem;
}

#about-content .member {
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: repeat(3, 1fr);
	margin: 1rem;
	column-gap: 10px;
}

.member h1 {
	grid-column: 1 / -1;
	display: grid;
	align-content: center;
	justify-content: center;
}

.member .member-info {
	display: grid;
	align-content: center;
	justify-content: center;
	background: #f1f2f3;
	border: 5px #af9164 solid;
	font-size: 1.5rem;
}

#about-content .contact {
	display: grid;
	justify-content: center;
	align-content: center;
}